<div class="login">
	<div class="about_us">
	Hi,
	<p>Thanks for visiting our Page. We have created an application to keep update daily updates. 
	We have developed an application for common people, shopkeepers to maintain their daily expenditures and help them to calculate the
	monthly-yearly income and expenditure results.</p>
	<p>Also you can set birthday, anniversary or any other memorable event reminder of your loved one in this application. 
	This application is flexible, here you can decides your views.. You can take a look our 'Update' application(It is free for a month), 
	I am sure, you will find it very useful.</p>
	<p>If you already used 'Update' application, you can share your experience with us 
	(Your suggestions are welcome, we will work on it for sure). And we are always ready to help you. Our details:-
	<br>Name: Archana Patil
	<br>email id: archana.patil.890@gmail.com
	</p>
	<p>Thanks for reading!</p>
	</div>
</div>