<div class="login">
	<table width=100%>
		<tr width=100%>
			<td width=100% align="center" class="row"><span><input type="text" placeholder="Enter your username"></span></td>
		</tr>
		<tr width=100% height="15%">
			<td width=100% align="center" class="row"><span><input type="password" placeholder="Enter your password"></span></td>
		</tr>
		<tr width=100%>
			<td width=100% align="center" class="row"><div class="loginButton"> </div></td>
		</tr>
		<tr width=100%>
			<td width=100% align="center" class="forget_password"><a href="#" ui-sref="forget_password">OR You forget Password...???</a></td>
		</tr>
	</table>
</div>