<div class="login">
	<table width=100%>
		<tr width=100%>
			<td width=50% align="center" class="add_new_user"><span>Enter email id:</td>
			<td width=50% align="center" class="row"><span><input class="smallbox" type="text" placeholder="Enter your username"></span></td>
		</tr>
		<tr width=100%>
			<td width=50% align="center" class="add_new_user"><span>Enter Your Name:</td>
			<td width=50% align="center" class="row"><span><input class="smallbox" type="text" placeholder="Enter your name"></span></td>
		</tr>
		<tr width=100% height="15%">
			<td width=50% align="center" class="add_new_user"><span>Enter password:</td>
			<td width=50% align="center" class="row"><span><input class="smallbox" type="password" placeholder="Enter your password"></span></td>
		</tr>
		<tr width=100% height="15%">
			<td width=50% align="center" class="add_new_user"><span>Retype password:</td>
			<td width=50% align="center" class="row"><span><input class="smallbox" type="password" placeholder="Retype password"></span></td>
		</tr>
		<tr width=100%>
			<td width=50% align="center" class="add_new_user"></td>
			<td width=50% align="center" class="row"><div class="addUserButton"> </div></td>
		</tr>
	</table>
</div>