@CHARSET "UTF-8";
body {
	font-family: serif;
 	font-size: 16px;
 	position: absolute;
 	top: 0%;
 	bottom: 10%;
 	left: 10%;
 	right: 10%;
 	background-color: #FFFFFF;
}
.header {
	/*background: url("/Update/images/logo.png") top left no-repeat, radial-gradient(circle, #FFE5B4, #C19A6B);*/
  	
}
.footer {
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0%;
	min-height:60px;
	background: radial-gradient(circle, #FFE5B4, #C19A6B);
}
.content {
}
.tableDiv {
	table-layout: fixed;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
input {
	border:2px solid #C19A6B;
	border-radius:10px;
	height: 25px;
	width: 230px;
	padding: 20px;
}
.textarea_div {
	float:left;
	margin: 3px -1px;
	padding: 0px;
}
textarea {
	text-align: left;
	font-size: 15px;
	border:1px solid #7E3517;
	border-radius:20px;
	box-shadow: 5px 5px 2px #7E3517;
	color: #C19A6B;
	border-radius:8px;
	padding: 15px;
	resize: none;
	width: 100%;
	box-sizing: border-box;
}